body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Цвет текста */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff; /* Белый фон контейнера */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.logo img {
    width: 100px; /* Размер логотипа */
    margin-bottom: 20px;
}

h1 {
    color: #b19576; /* Цвет вспомогательного текста */
    margin-bottom: 20px;
    font-size: 36px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #b19576;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0835c;
}

.error-tooltip {
            display: block;
            color: red;
            margin-top: 5px;
        }
