<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store - Book Details</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/common.css" data-th-href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/book.css" data-th-href="@{/css/book.css}" />
    <script type="text/javascript"
            data-th-src="@{/js/script.js}" src="js/script.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img src="../images/logo.png" alt="Logo">
        </a>
    </div>
    <div class="search-bar">
        <form th:action="@{/search}" method="get">
            <input type="text" name="pattern" placeholder="Искать книги..." required>
            <button type="submit" class="search-button">
                <img src="../images/glass.png" alt="Search">
            </button>
        </form>
    </div>


    <div class="header-buttons">
        <!-- Первая картинка с выпадающим меню -->
        <div class="dropdown">
            <button class="header-btn">
                <img src="../images/account.png" alt="Icon 1">
            </button>
            <div class="dropdown-content">
                <div th:if="${user==null}">
                    <p>Guest</p>
                    <a href="/login">Login</a>
                </div>
                <div th:unless="${user==null}">
                    <p th:text="${user.getUsername}"></p>
                    <p th:text="${user.getEmail}"></p>
                    <div th:if="${user.role == 'ROLE_ADMIN'}">
                        <a href="/manage">manage</a>

                    </div>
                    <div th:if="${user.role == 'ROLE_SUPPLIER'}">
                        <a href="/supply">add new Book</a>
                    </div>
                    <a href="/logout">logout</a>
                </div>

            </div>
        </div>
        <!-- Вторая картинка как ссылка -->
        <a href="/cart" class="header-btn">
            <img src="../images/cart.png" alt="Icon 2">
        </a>
    </div>
</header>
    <main>
        <div class="book-details">
            <div class="book-image">
                <img th:src="@{${'../images/books/' + book.url + '.png'}}">
            </div>
            <div class="book-info">
                <h2 th:text="${book.name}">Book Title</h2>
                <p th:text="'Автор: ' + ${book.author}">Author</p>
                <p th:text="'Год написания: '+ ${book.year}">Year</p>
                <p th:text="'Цена: $'+${book.price}">$19.99</p>

                <div th:if="${user == null}">
                    <form th:action="@{/cart/{bookurl}(bookurl=${book.url})}" method="post">
                        <button class="add-to-cart-btn" th:disabled="${user == null}">Положить в корзину</button>
                    </form>
                </div>

                <div th:unless="${user==null}">
                        <div th:if="${user.cart.contains(book)}">
                            <a href="/cart">
                                <button class="go-to-cart-btn" >В корзине</button>
                            </a>
                        </div>
                        <div th:unless="${user.cart.contains(book)}">
                            <form th:method="POST" th:action="@{/cart/{bookurl}(bookurl=${book.url})}">
                                <button class="add-to-cart-btn" th:disabled="${user==null}">Положить в корзину</button>
                            </form>
                        </div>
                </div>
                <div class="book-description">
                    <p th:text="${book.description}">Description</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Contact us at: contact@bookstore.com</p>
    </footer>
</body>
</html>
